body{
    background-color: #363777;
}

h1{
    color: white;
    text-align: center;
}

form{
    padding: 20px 10px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    width: max(40vw, 250px);
}

textarea{ 
    resize: none;
    margin: 5px auto;
    width: 99%;
    height: 200px;
    display: block;
}

.media{
    margin: 15px auto;
}